<footer class="main-footer">
    <strong>SIMFactory <a href="https://dhimasarista.github.io">dhimasarista</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
       <b>Version</b> Development
    </div>
 </footer>
 