<aside class="main-sidebar sidebar-dark-primary elevation-4 mb-3">
   <!-- Brand Logo -->
   <a href="#" class="brand-link">
   <img src="../img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
   <span class="brand-text font-weight-light">SIMFactory</span>
   </a>
   <!-- Sidebar -->
   <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
         <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
               <li class="nav-item menu-open">
                  <a href="/" class="nav-link <%= path === '/' ? 'bg-warning' : 'bg-dark' %>">
                     <i class="nav-icon">
                        <!-- Size 24 -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="m10 13.75l-1.1-2.2q-.125-.275-.375-.413T8 11H2V6q0-.825.588-1.413T4 4h16q.825 0 1.413.588T22 6v5h-5.375L14.9 7.55q-.125-.275-.375-.388T14 7.05q-.275 0-.525.113t-.375.387l-3.1 6.2ZM4 20q-.825 0-1.413-.588T2 18v-5h5.375L9.1 16.45q.125.275.375.413T10 17q.275 0 .525-.138t.375-.412l3.1-6.2l1.1 2.2q.125.275.375.413T16 13h6v5q0 .825-.588 1.413T20 20H4Z"/></svg>
                     </i>
                     <p>Dashboard</p>
                  </a>
               </li>
            <li class="nav-item menu-open">
               <a href="#" class="nav-link bg-default">
                  <i class="nav-icon">
                     <!-- Size 24 -->
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M5.12 5h13.75l-.94-1h-12l-.81 1m15.42.23c.29.34.46.77.46 1.27V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6.5c0-.5.17-.93.46-1.27l1.38-1.68C5.12 3.21 5.53 3 6 3h12c.47 0 .88.21 1.15.55l1.39 1.68M6 18h6v-3H6v3Z"/></svg>
                  </i>
                  <p>
                     Production
                     <i class="right fas fa-angle-left"></i>
                  </p>
               </a>
               <ul class="nav nav-treeview">
                  <li class="nav-item">
                     <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Daily Production</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="/production/control" class="nav-link <%= path === '/production/control' ? 'bg-warning' : '' %>">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Production Control</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Production Plan</p>
                     </a>
                  </li>
               </ul>
            </li>
            <li class="nav-item menu-open">
               <a href="#" class="nav-link bg-default">
                  <i class="nav-icon">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g transform="translate(24 0) scale(-1 1)"><path fill="white" d="M6 19h2v2H6v-2m6-16L2 8v13h2v-8h16v8h2V8L12 3m-4 8H4V9h4v2m6 0h-4V9h4v2m6 0h-4V9h4v2M6 15h2v2H6v-2m4 0h2v2h-2v-2m0 4h2v2h-2v-2m4 0h2v2h-2v-2Z"/></g></svg>
                  </i>
                  <p>
                     Warehouse
                     <i class="fas fa-angle-left right"></i>
                  </p>
               </a>
               <ul class="nav nav-treeview">
                  <li class="nav-item">
                     <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Materials</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Inventory</p>
                     </a>
                  </li>
               </ul>
            </li>
            <li class="nav-item menu-open">
               <a href="#" class="nav-link bg-default">
                  <i class="nav-icon">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><path fill="white" fill-rule="evenodd" d="M6 9a3 3 0 0 1 3-3h30a3 3 0 0 1 3 3v30a3 3 0 0 1-3 3H9a3 3 0 0 1-3-3V9Zm13 11a3 3 0 1 1-6 0a3 3 0 1 1 6 0Zm-7 7.727c0-.118.047-.276.256-.486c.218-.22.564-.442 1.019-.641c.914-.4 2.028-.6 2.725-.6c.697 0 1.81.2 2.725.6c.455.198.8.42 1.019.64c.21.211.256.369.256.487V31h2v-3.273c0-.788-.37-1.425-.837-1.896c-.459-.461-1.05-.807-1.637-1.064C18.358 24.257 16.971 24 16 24c-.972 0-2.358.257-3.526.767c-.587.257-1.178.603-1.637 1.064c-.467.471-.837 1.108-.837 1.896V31h2v-3.273Zm16.256-.486c-.21.21-.256.368-.256.486V31h-2v-3.273c0-.788.37-1.425.837-1.896c.459-.461 1.05-.807 1.637-1.064C29.642 24.257 31.029 24 32 24c.971 0 2.358.257 3.526.767c.587.257 1.178.603 1.637 1.064c.468.471.837 1.108.837 1.896V31h-2v-3.273c0-.118-.047-.276-.256-.486c-.218-.22-.564-.442-1.019-.641c-.914-.4-2.028-.6-2.725-.6c-.697 0-1.81.2-2.725.6c-.455.198-.8.42-1.019.64ZM32 23a3 3 0 1 0 0-6a3 3 0 1 0 0 6Zm-5-5a3 3 0 1 1-6 0a3 3 0 1 1 6 0Zm-4.754 7.166c.07-.079.168-.143.451-.17a4.69 4.69 0 0 1 .554-.012l.202.005c.17.005.363.011.547.011c.184 0 .377-.006.547-.01l.202-.006a4.72 4.72 0 0 1 .554.011c.283.028.38.092.451.171l1.492-1.332c-.525-.588-1.18-.774-1.748-.83c-.344-.033-.77-.021-1.12-.012c-.142.004-.272.008-.378.008c-.106 0-.236-.004-.378-.008c-.35-.01-.776-.02-1.12.013c-.568.055-1.223.241-1.748.829l1.492 1.332Z" clip-rule="evenodd"/></svg>
                  </i>
                  <p>
                     Human Resource
                     <i class="fas fa-angle-left right"></i>
                  </p>
               </a>
               <ul class="nav nav-treeview">
                  <li class="nav-item">
                     <a href="/hr/employee" class="nav-link <%= path === '/hr/employee' ? 'bg-warning' : '' %>">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Employees</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Departments</p>
                     </a>
                  </li>
               </ul>
            </li>
            <li class="nav-header">Others</li>
         </ul>
      </nav>
      <!-- /.sidebar-menu -->
   </div>
   <!-- /.sidebar -->
</aside>