<div class="row">
   <div class="col-12">
      <div class="card">
         <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <h3 class="card-title">Production Control</h3>
            <span style="margin-left: auto;">Today's Date: <span id="realTime"></span></span> <!-- Example Date -->
         </div>
         <!-- /.card-header -->
         <div class="card-body">
            <table id="example2" class="table table-hover">
               <thead>
                  <tr>
                     <th>Team</th>
                     <th>Line</th>
                     <th>Model</th>
                     <th>Shift</th>
                     <th>Control</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>A</td>
                     <td>1</td>
                     <td>Model 1</td>
                     <td>1st</span></td>
                     <td>Change</span></td>
                  </tr>
                  <tr>
                     <td>A</td>
                     <td>1</td>
                     <td>Model 1</td>
                     <td>1st</span></td>
                     <td>Change</span></td>
                  </tr>
                  <tr>
                     <td>A</td>
                     <td>1</td>
                     <td>Model 1</td>
                     <td>1st</span></td>
                     <td>Change</span></td>
                  </tr>
                  <tr>
                     <td>A</td>
                     <td>1</td>
                     <td>Model 1</td>
                     <td>1st</span></td>
                     <td>Change</span></td>
                  </tr>
                  <tr>
                     <td>A</td>
                     <td>1</td>
                     <td>Model 1</td>
                     <td>1st</span></td>
                     <td>Change</span></td>
                  </tr>
                  <tr>
                     <td>A</td>
                     <td>1</td>
                     <td>Model 1</td>
                     <td>1st</span></td>
                     <td>Change</span></td>
                  </tr>
                  <tr>
                     <td>A</td>
                     <td>1</td>
                     <td>Model 1</td>
                     <td>1st</span></td>
                     <td>Change</span></td>
                  </tr>
                  <tr>
                     <td>A</td>
                     <td>1</td>
                     <td>Model 1</td>
                     <td>1st</span></td>
                     <td>Change</span></td>
                  </tr>
                  </tfoot>
            </table>
         </div>
         <!-- /.card-body -->
      </div>
      <div class="card">
         <!-- <div class="card-header">
            <h3 class="card-title">DataTable with default features</h3>
            </div> -->
         <!-- /.card-header -->
         <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
               <thead>
                  <tr>
                     <th>Model ID</th>
                     <th>Product Name</th>
                     <th>Target</th>
                     <th>Status</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>Trident</td>
                     <td>Internet
                        Explorer 4.0
                     </td>
                     <td>Win 95+</td>
                     <td> 4</td>
                  </tr>
                  <tr>
                     <td>Trident</td>
                     <td>Internet
                        Explorer 5.0
                     </td>
                     <td>Win 95+</td>
                     <td>5</td>
                  </tr>
                  <tr>
                     <td>Trident</td>
                     <td>Internet
                        Explorer 5.5
                     </td>
                     <td>Win 95+</td>
                     <td>5.5</td>
                  </tr>
               </tbody>
            </table>
         </div>
         <!-- /.card-body -->
      </div>
      <!-- /.card -->
   </div>
   <!-- /.col -->
</div>
<script>
   function updateRealTime() {
    const now = new Date();
    const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit'};
    const formattedDateTime = now.toLocaleDateString('id-ID', options); // Sesuaikan dengan locale yang Anda inginkan
    
    document.getElementById('realTime').textContent = formattedDateTime;
   }
   
   // Update real-time setiap detik
   setInterval(updateRealTime, 1000);
   
   // Panggil update pertama kali saat halaman dimuat
   updateRealTime();
</script>