<div class="row">
    <div class="col-12">
     <div class="card">
       <div class="card-header">
         <h3 class="card-title">Lines</h3>
       </div>
       <!-- /.card-header -->
       <div class="card-body">
         <table id="example2" class="table table-bordered table-hover">
           <thead>
           <tr>
             <th>Lines</th>
             <th>Model</th>
             <th>Targets</th>
             <th>Status</th>
             <th>Shift</th>
           </tr>
           </thead>
           <tbody>
           <tr>
             <td>1</td>
             <td>Model 1
             </td>
             <td>900</td>
             <td><span class="badge badge-info">processing</span></td>
             <td>2nd</td>
           </tr>
           <tr>
             <td>2</td>
             <td>Model 2
             </td>
             <td>900</td>
             <td><span class="badge badge-danger">stopped</span></td>
             <td>2nd</td>
           </tr>
           <tr>
             <td>3</td>
             <td>Model 3
             </td>
             <td>700</td>
             <td><span class="badge badge-info">processing</span></td>
             <td>2nd</td>
           </tr>
           <tr>
             <td>4</td>
             <td>Model 4
             </td>
             <td>800</td>
             <td><span class="badge badge-success">finish</span></td>
             <td>1st</td>
           </tr>
           <tr>
             <td>5</td>
             <td>Model 4</td>
             <td>800</td>
             <td><span class="badge badge-warning">finish</span></td>
             <td>1st</td>
           </tr>
           <tr>
             <td>6</td>
             <td>Not Production</td>
             <td>Not Production</td>
             <td><span class="badge badge-dark">not-production</span></td>
             <td>Not Production</td>
           </tr>
           </tfoot>
         </table>
       </div>
       <!-- /.card-body -->
     </div>
       <div class="card">
          <!-- <div class="card-header">
             <h3 class="card-title">DataTable with default features</h3>
          </div> -->
          <!-- /.card-header -->
          <div class="card-body">
             <table id="example1" class="table table-bordered table-striped">
                <thead>
                   <tr>
                      <th>Model ID</th>
                      <th>Product Name</th>
                      <th>Target</th>
                      <th>Status</th>
                   </tr>
                </thead>
                <tbody>
                   <tr>
                      <td>Trident</td>
                      <td>Internet
                         Explorer 4.0
                      </td>
                      <td>Win 95+</td>
                      <td> 4</td>
                   </tr>
                   <tr>
                      <td>Trident</td>
                      <td>Internet
                         Explorer 5.0
                      </td>
                      <td>Win 95+</td>
                      <td>5</td>
                   </tr>
                   <tr>
                      <td>Trident</td>
                      <td>Internet
                         Explorer 5.5
                      </td>
                      <td>Win 95+</td>
                      <td>5.5</td>
                   </tr>
                </tbody>
             </table>
          </div>
          <!-- /.card-body -->
       </div>
       <!-- /.card -->
    </div>
    <!-- /.col -->
 </div>