<!DOCTYPE html>
<html>
<head>
    <title>Test Socket</title>
</head>
<body>
    <h1>Employee Names</h1>
    <ul>
        <% employees.forEach((employee) => { %>
            <li><%- employee.name %></li>
        <% }); %>
    </ul>

    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script>
        const socket = io();
        // client-side
        socket.on("connect", () => {
        console.log(socket.id); // x8WIv7-mJelg7on_ALbx
        });

        socket.on('connect', (employees) => {
            const employeeList = document.querySelector('ul');
            employeeList.innerHTML = '';

            employees.forEach((employee) => {
                const li = document.createElement('li');
                li.textContent = employee.name;
                employeeList.appendChild(li);
            });
        });
    </script>
</body>
</html>
